html {
    font-size: 62.5%;
    color: white;
}
body {
    background-color: rgb(0, 150, 0);
}

p {
    color: rgb(0, 50, 0);
}

header {
    background-color: rgb(0, 0, 255, 0.5);
    border-style: solid;
    border-right-style: dotted;
    border-left-style: dotted;
    border-width: 5px 10px;
    border-color: blue;
    border-radius: 5px;
    padding: 10px 20px;
    box-sizing: border-box;
}

nav {
    font-size: 12px;
    color: rgb(0, 50, 0);
    border: 2px solid;
    width: 100px;
    height: 100px;
    padding-top: 1px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 20px;
    margin-top: 20px
}